*{
    margin-left: 0;
    margin-right: 30px;
}
body{
    background-color: black;
    font-family: 'Poppins',sans-serif;
}
header{
    color: #FF6401;
    padding-bottom: 0;
    padding-top: 10px;
    margin-left: 10px;
    font-size: 35px;
    padding-left: 22px;
}
.first-section,.second-section,.third-section{
    border: 1px solid #202020;
    background-color: #202020;
    color: white;
    margin-left: 30px;
    font-size: 14px;
    padding-left: 25px;
    padding-right: 10px;
    margin-top: 10px;
    padding-top: 20px;
    width: 90%;
    height: 190px;
    border-radius: 8px;
}
.first-section:hover,.second-section:hover,.third-section:hover {
    background-color:#FF6401;
  }
.p1,.p2,.p3{
    opacity: 0.7;
    font-size: 15px;
    padding-top: 10px;
}